body{


 font-family: Arial;
    background-color: orange;
 margin: 30px;
      padding: 0;
display: grid;
    grid-template-columns: 1fr 1fr;
justify-content: center;
    align-items: center;
    height: 50%;


}

.container h2{
    display: inline-block;
    text-align: center;
}



.container{
    background-color: #6495ED;
    padding: 20px;
    border-radius:30px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       max-width: 400px;
       width:100%;
display: block;
    grid-template-columns: 1fr 1fr;
    float:left;
    margin: 20px;


}



.regform label{

    display:block ;
    margin-bottom: 5px;
    font-weight: bold;
}


.regform input[type=text],
.regform input[type=email],
.regform input[type=password],
.regform select,
.regform textarea{

    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius:4px;
}


.regform fieldset {
    border: none;
    padding: 0;
    margin: 0 0 20px 0;

}
    .regform legend{
        font-weight:bold ;
     margin-bottom: 10px;
}

    .reg-form input[type="radio"] {
        margin-right: 5px;


    }


.registration-form input[type="checkbox"] {
    margin-right: 10px;


}


.regform input[type="button"]{

    width:100% ;
    padding:10px;
    background-color: mediumvioletred;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;


}

.regform input[type="button"]:hover{
    background-color: dodgerblue;


}





